#khare1.ritik1{
    color: purple;
    font-size: 100px;
}
#khare.ritik{
    height: 700px;
    border-radius: 8px;
    margin-right: 500px;
    margin-top: 0;
}
#khare2.ritik2{
    margin-top: 50px;
    font-size: 40px;
    font-weight: 800;
    color: white;
}
.ritik_khare{
    margin-left: 100px;
    margin-top: 50px;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

#divs {
    height: 100vh;
    width: 100vw;
    background-color: #101728;
}

#divs.vyom {
    display: flex;
}

#logoplusname.vyom {
    position: absolute;
    transform: translate(10vw, 25vh);
    height: 10vh;
    display: flex;
}

#logo.vyom {
    height: 40px;
}

#Kinnectric.vyom {
    padding-left: 20px;
    font-size: 5vh;
    color: #ffffff;
}

#connect.vyom {
    height: 80vh;
    transform: translate(55vw, 20vh);
}

#connect_text.vyom {
    color: #9340FF;
    font-size: 10vh;
    padding-bottom: 4vh;
}

#content.vyom {
    color: #ffffff;
    padding: 1vh 1vh 10vh 1vh;
}

#social.vyom {
    padding-top: 10vh;
}

.vyomsocial {
    padding: 1vw;
    height: 5vh;
}

#linkedin.vyomsocial {
    padding-left: 0;
}


#divs.vishal{
    display: flex;
}
#imgf.vishal{
    height: 50vh
}
#image.vishal
{
    height: 50vh;
    transform: translate(10vw,30vh);
}
#text_container.vishal
{
transform: translate(20vw,30vh);
}
#heading.vishal
{
     color: #9340FF;
     font-size: 7vh;
}
#paragraph.vishal
{
    color: #ffffff;
    font-size: 3vh;
}
#imgf.vishal
{
    border-radius: 50px;
}



#divs.aaruhi{
    display: flex;
}
#logoplusname.aaruhi{
    position: absolute;
    transform: translate()
}








































     /* Responsive code for phones  */
@media only screen and (max-width: 700px) {
    *{
        padding: 0;
        margin: 0;
    }
    #logoplusname.vyom {
        position: absolute;
        transform: translate(20vw, 10vh);
        height: 10vh;
        display: flex;
    }
    #connect.vyom {
        height: 67vh;
        transform: translate(0vw, 30vh);
        text-align: center;
    }
    #content.vyom {
        color: #ffffff;
        padding-bottom:8vh;
        font-size: 1.5vh;
    }
    #social.vyom {
        padding-top: 9vh;
    }
    #connect_text.vyom {
        width: 100vw;
        font-size: 5vh;
        padding-bottom: 4vh;
    }
    #image.vishal
    {
        transform: translate(5vw,7vh);
        height: 50vh;
    }
    
    #imgf.vishal
    {
        height: 33vh;
    } 
    #text_container.vishal{
      position: absolute;
        transform: translate(10vw,50vh);
        text-align: center;
    }
    #paragraph.vishal
    {
        font-size: 2vh;
    }
    #heading.vishal
    {
        font-size: 7vh;
    }
}