* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

#khantal1.vanshita1 {
    width: auto;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vh;
    text-align: center;
}
#mid.vanshita{
    width: auto;
    transform: translate(0vw,15vh);
}
#khantal2.vanshita2 {
    width: auto;
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-align: center;
}

#khantal.v_k {
    color: #9340FF;
}

#khare1.ritik1 {
    color: #9340FF;
    font-size: 4vh;
    /* display: flex; */
}

#khare.ritik {
    color: white;
    font-size: 3vh;
    transform: translate(10vw, 20vh);
    /* display: flex; */
}

#img.ritik2 {
    transform: translate(20vw, 20vh);
}

#khare2.ritik2 {
    height: 50vh;
    border-radius: 5vh;
}

.r_k {
    display: flex;
}

#divs {
    height: 100vh;
    width: 100vw;
    background-color: #101728;
}

#divs.vyom {
    display: flex;
}

#logoplusname.vyom {
    position: absolute;
    transform: translate(10vw, 25vh);
    height: 10vh;
    display: flex;
}

#logo.vyom {
    height: 40px;
}

#Kinnectric.vyom {
    padding-left: 20px;
    font-size: 5vh;
    color: #ffffff;
}

#connect.vyom {
    height: 80vh;
    transform: translate(55vw, 20vh);
}

#connect_text.vyom {
    color: #9340FF;
    font-size: 10vh;
    padding-bottom: 4vh;
}

#content.vyom {
    color: #ffffff;
    padding: 1vh 1vh 10vh 1vh;
}

#social.vyom {
    padding-top: 10vh;
}

.vyomsocial {
    padding: 1vw;
    height: 5vh;
}

#linkedin.vyomsocial {
    padding-left: 0;
}


#divs.vishal {
    display: flex;
}

#imgf.vishal {
    height: 50vh
}

#image.vishal {
    height: 50vh;
    transform: translate(10vw, 30vh);
}

#text_container.vishal {
    transform: translate(20vw, 30vh);
}

#heading.vishal {
    color: #9340FF;
    font-size: 7vh;
}

#paragraph.vishal {
    color: #ffffff;
    font-size: 3vh;
}

#imgf.vishal {
    border-radius: 50px;
}



#divs.aaruhi {
    display: flex;
}

#logoplusname.aaruhi {
    position: absolute;
    transform: translate()
}

#divs.prajapati {
    display: flex;
}

#heading.prajapati {
    color: #9340FF;
    font-size: 9vh;
}

#paragraph.prajapati {
    color: rgb(238, 238, 238);
    font-size: 3vh;
}

#text.prajapati {
    transform: translate(10vw, 15vh);
}

#image.prajapati {
    transform: translate(20vw, 30vh);
}

#img.prajapati {
    height: 45vh;
}

#img.prajapati {
    border-radius: 55px;
}













































/* Responsive code for phones  */
@media only screen and (max-width: 700px) {
    * {
        padding: 0;
        margin: 0;
    }

    #logoplusname.vyom {
        position: absolute;
        transform: translate(10vw, 10vh);
        height: 10vh;
        display: flex;
    }

    #connect.vyom {
        height: 67vh;
        transform: translate(0vw, 30vh);
        text-align: center;
    }

    #content.vyom {
        color: #ffffff;
        padding-bottom: 8vh;
        font-size: 1.5vh;
    }

    #social.vyom {
        padding-top: 9vh;
    }

    #connect_text.vyom {
        width: 100vw;
        font-size: 5vh;
        padding-bottom: 4vh;
    }

    #image.vishal {
        transform: translate(10vw, 10vh);
    }

    #imgf.vishal {
        width: 80vw;
        height: auto;
    }

    #text_container.vishal {
        width: 90vw;
        position: absolute;
        transform: translate(5vw, 50vh);
        text-align: center;
    }

    #paragraph.vishal {
        font-size: 2vh;
    }

    #heading.vishal {
        font-size: 7vh;
    }

    #khare1.ritik1 {
        font-size: 5vw;
    }

    #khare2.ritik2 {
        width: 80vw;
        height: auto;
    }
    #img.ritik2{
        position: absolute;
        transform: translate(10vw,60vh);
    }
    #khare.ritik {
        position: absolute;
        font-size: 4vw;
        transform: translate(10vw,10vh);
    }
}